<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AcaoUsuario</servlet-name>
        <servlet-class>Servlet.AcaoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcaoLogin1</servlet-name>
        <servlet-class>Servlet.AcaoLogin1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acaologin</servlet-name>
        <servlet-class>Servlet.Acaologin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcaoUsuario</servlet-name>
        <url-pattern>/AcaoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcaoLogin1</servlet-name>
        <url-pattern>/AcaoLogin1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acaologin</servlet-name>
        <url-pattern>/Acaologin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
